{% extends 'base.html' %}

{% load static %}

{% block content %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="page-header">Données 4: ENTRÉES ET SORTIES DES GARES DES LIGNES C ET L DU RÉSEAU TRANSILIEN</h4>
                    <div class="pull-right">

                    </div>
                </div>
                <!-- /.col-lg-12 -->

            </div><br>




            <div class="row">
                <div class="col-lg-12">
                  <form role="form">
                      <fieldset enabled>
                        <h4>Format de fichiers plats</h4>
                        <hr>
CSV   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <i class="fa fa-download fa-fw"></i><a class="text-primary"> Jeu de données entier</a><br><br>
JSON   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <i class="fa fa-download fa-fw"></i><a class="text-primary"> Jeu de données entier</a><br><br>
EXCEL   &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <i class="fa fa-download fa-fw"></i><a class="text-primary"> Jeu de données entier</a>


                      </fieldset>

                          </div>
                        </div>
                  </form>











                <!-- /.col-lg-8 -->


<br><hr>






                    <!-- /.panel .chat-panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

{% endblock %}
