{% extends 'base.html' %}

{% load static %}

{% block content %}

<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Panneau d'administration</a></h1>
      <div class="pull-right">

      </div>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-user fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">{{users|length}}</div>
              Utilisateurs !
            </div>
          </div>
        </div>
        <a href="#users">
          <div class="panel-footer">
            <span class="pull-left">Voir Détails</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="panel panel-green"  href="#kubex">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-cube fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">{{kubex|length}}</div>
              Kubes !
            </div>
          </div>
        </div>
        <a href="#kubex">
          <div class="panel-footer">
            <span class="pull-left">Voir Détails</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="panel panel-red"  href="#tickets">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-support fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge">{{tickets|length}}</div>
              Tickets !
            </div>
          </div>
        </div>
        <a href="#tickets">
          <div class="panel-footer">
            <span class="pull-left">Voir Détails</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <h2 id="users">Utilisateurs</h2>
    {% for usr in users %}
    <i class="fa fa-user"></i> <a href="profile?user={{usr.id}}">{{usr.name}}</a><br/>
    {% endfor %}
  </div>
  <div class="row">
    <h2 id="kubex">Kubex</h2>
    {% for kube in kubex %}
    <div class="col-lg-4 col-md-6">
    {% include "panels/kube.html" with kube=kube user=request.user only %}
    </div>      
    {% endfor %}
  </div>
  <div class="row">      
    <h2 id="tickets">Tickets</h2>
    {% for ticket in tickets %}
    <div class="col-lg-4 col-md-6">
    {% include "panels/ticket.html" with ticket=ticket only %}
    </div>      
    {% endfor %}
  </div>
</div>
<!-- /#page-wrapper -->

{% include "panels/kubex_modal.html" %}

{% endblock %}

{% block scripts %}
<script src="{% static 'js/page_kubex.js' %}"></script>
{% endblock %}